[req]
default_bits       = 2048
default_keyfile    = server.key
distinguished_name = req_distinguished_name
x509_extensions    = v3_req
prompt              = no

[req_distinguished_name]
countryName         = TH
stateOrProvinceName = State
localityName        = Locality
organizationName    = My Organization
commonName          = 192.168.193.136

[v3_req]
subjectAltName = @alt_names

[alt_names]
IP.1 = 192.168.193.136
DNS.1 = localhost